@page
@model SalveminiApi_core.Pages.SuccessModel
@{
}

<div style="padding: 10px;">
    <h1>Iscrizione inviata con successo</h1>
    <h2>Ci vediamo venerdì alle 21:15</h2>
    <span>Ora puoi chiudere questa pagina</span>
</div>
