<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SalveminiAppIntentUI</string>
	<key>CFBundleName</key>
	<string>SalveminiAppIntentUI</string>
	<key>CFBundleIdentifier</key>
	<string>com.codex.salveminiapp.salveminiappntentui</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>it</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>15</string>
	<key>CFBundleVersion</key>
	<string>3.6</string>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsSupported</key>
			<array>
				<string>INSendMessageIntent</string>
				<string>TrenoIntent</string>
				<string>OrarioIntent</string>
			</array>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-ui-service</string>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
