<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.codex.salveminiapp">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<application android:label="Salvemini" android:networkSecurityConfig="@xml/network_security_config">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="AndroidManifest.xml" />
			</intent-filter>
		</receiver>
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
	<permission android:name="AndroidManifest.xml.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="AndroidManifest.xml.permission.C2D_MESSAGE" />
</manifest>