@page
@model BookMarket.Pages.Admin.LoginModel
@{
}

    <form method="post">
        <input type="password" placeholder="Password" asp-for="@Model.Password" />
        <button type="submit">Accedi</button>
    </form>
