/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
}

.container {
    /*zoom: 3.1;*/
    text-align: center;
    padding-top: 55px;
}

.ceneterdDiv {
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.descLabel {
    color: gray;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 6%;
    font-size:medium;
}

.titleLbl {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #802891;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1%;
}

.textInput {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    padding: 0.7%;
    background-color: #f7f7f7;
    outline: none;
    border: 1px solid #ebebeb;
    display: block;
    zoom: 1.8;
}

    .textInput:focus {
        border-color: #802891;
    }

.divider {
    width: 90%;
    height: 2px;
    background-color: #e3e3e3;
    margin-left: auto;
    margin-right: auto;
}

.goButton {
    -webkit-appearance: none;
    background-color: #802891;
    color: white;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding: 10px;
    font-size: medium;
}

.lista {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
}

.listNome {
    text-align: center;
    width: 100%;
    word-wrap: hyphenate;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #802891;
}


