@page
@model SalveminiApi_core.Pages.IndexModel
@{
}


<div class="container">
    <img src="~/images/logoNuovo.png" class="salveminiLogo"/>
    <span class="usersCount">
        Ci sono @Model.Users utenti registrati all'app
    </span>

    <div class="badgeContainer">
        <a href="https://apps.apple.com/us/app/salvemini/id1438855517" target="_blank">
            <img src="~/images/appStoreBadge.svg" />
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.codex.salveminiapp" target="_blank">
            <img src="~/images/playStoreBadge.svg" />
        </a>
    </div>

    <a style="margin-top:20px" href="bookmarket/login">Vai al bookmarket</a>
</div>


<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -68%);
    }
    .salveminiLogo {
        width: 70%;
        max-width: 300px;
    }

    .usersCount {
        font-size: 20px;
        text-align: center;
    }

    .badgeContainer {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

        .badgeContainer * {
            width: 160px;
        }
</style>